@using LegendOfRico.Data
@using System.Text.Json
@inject IJSRuntime JS


<h1 class="gameTitle">The legend of Rico</h1>
<div class="displayGame">
    <div class="gameMenu">
        <EditForm Model="@characterModel" OnValidSubmit="CreateCharacter">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <label>Nom du personnage</label>
            <InputText @bind-Value="characterModel.CharacterName" />
            <label>Type de personnage</label>

            <select @bind="characterModel.SelectedType" class="form-control">
                @foreach (var option in Enum.GetValues(typeof(TypeOfCharacter)))
                {
                    <option value="@option">@option.ToString()</option>
                }
            </select>
            <button type="submit">Créer</button>
        </EditForm>
        <!--<button onclick="Continuer">Continuer</button>-->
    </div>
    <div class="intro">
        <h2>Bienvenue dans le monde mystique de Ricochico</h2>
        <p>Explorez ce royaume enchanteur où une aventure épique attend les courageux aventuriers. Au cœur de ce monde fantastique, le grand Ricochico, gardien légendaire, détient la clé d'une relique ancienne renfermant un pouvoir immense.</p>

        <p>Cette relique sacrée est divisée en quatre parties, chacune gardée par un puissant boss :</p>
        <ul>
            <li>Sun Wukong, le roi singe, dans la mystérieuse forêt de Sherloop.</li>
            <li>Le Scorpion Éternel, gardien énigmatique de la Dune Éternelle.</li>
            <li>Cher Tontaton, revenu d'entre les ombres, au Cimetière des Tontaton.</li>
            <li>Joy Bean, maître des rêves, dans l'ancienne cité de Joy Bean.</li>
        </ul>

        <p>Forgez votre destinée, brave aventurier, et dévoilez les secrets de chaque territoire. Seul un héros intrépide pourra accomplir cette quête périlleuse et débloquer le pouvoir ultime nécessaire pour défier le grand Ricochico.</p>

        <p>Que l'aventure commence, et que la légende de Ricochico s'écrive à travers vos exploits audacieux !</p>
    </div>
</div>

@code {
    private CharacterModel characterModel = new CharacterModel();

    [Parameter]
    public Game Game { get; set; }
    [Parameter]
    public EventCallback TypeOfShowChange { get; set; }

    async Task Continuer()
    {
        Character player = new Wizard();
        var value = await JS.InvokeAsync<string>("localStorage.getItem", "SavingType");
        Saving save = JsonSerializer.Deserialize<Saving>(value);
        var playerstring = await JS.InvokeAsync<string>("localStorage.getItem", "SavingPlayer");
        if(save.CharactType == "wizard")
        {
            player = JsonSerializer.Deserialize<Wizard>(playerstring);
        }
        else if (save.CharactType == "ranger")
        {
            player = JsonSerializer.Deserialize<Ranger>(playerstring);
        }
        else if (save.CharactType == "cleric")
        {
            player = JsonSerializer.Deserialize<Cleric>(playerstring);
        }
        else if (save.CharactType == "fighter")
        {
            player = JsonSerializer.Deserialize<Fighter>(playerstring);
        }
        else
        {
            player = JsonSerializer.Deserialize<Rogue>(playerstring);
        }
        Game.Player = player;
        Game.GameMap = new Data.Map();
        Game.FormShow = TypeOfShow.Map;
    }

    private void CreateCharacter()
    {
        Game.GameMap = new Data.Map();
        Game.CreateCharacter(characterModel.CharacterName, characterModel.SelectedType);
        Game.FormShow = TypeOfShow.Map;
        Game.GameMap.UpdateMapDisplay(Game.Player);
        TypeOfShowChange.InvokeAsync();
    }

   
}
