@page "/"
@using LegendOfRico.Data


<PageTitle>The legend of Rico</PageTitle>
<h1 class="gameTitle">The legend of Rico</h1>
@if (game.ShowConnection == true)
{
    <div class="displayGame">
        <div class="gameMenu">
            <button @onclick="() => Game.SwitchForm(game)">Switch</button>
        </div>
        <div class="intro">

        </div>
    </div>
} 
else if (game.ShowGame == true)
{
    <div class="layoutGame" @onkeydown="HandleKeyDown" @onkeydown:preventDefault=true tabindex="0">
    <div class="displayGame">
        <div class="gameMenu">
        <p>Personnage: @game.Player.Name</p>
        <p>Position: [@game.Player.PositionI][@game.Player.PositionJ]@game.GameMap.MapLayout[game.Player.PositionI][game.Player.PositionJ].Name</p>
                <button @onclick="() => Game.SwitchForm(game)">Switch</button>
        </div>
        <div class="mapDisplay">
        <table border="1" class="Map">
            @for(int i = game.GameMap.StartI; i < game.GameMap.MaxI; i++)
            {
                <tr>
                @for (int j = game.GameMap.StartJ; j < game.GameMap.MaxJ; j++)
                {
                    @if (i == game.Player.PositionI && j == game.Player.PositionJ)
                    {
                        <td>
                            <div style="background-image: url('@game.GameMap.MapLayout[i][j].SquareBiome.ImageUrl');">
                                <img src="@game.Player.MapSprite" alt="Image Player" class="character-image">
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div style="background-image: url('@game.GameMap.MapLayout[i][j].SquareBiome.ImageUrl');"></div>
                        </td>
                    }
                   
                }
                </tr>
            }
        </table>
        </div>
    </div>
    </div>
}

@code{
        

    //création d'un personnage test pour la map, création et gestion des personnages encore à définir
    public static Wizard PersoTest = new Wizard {Name = "Destructor", MapSprite = "img/character/spriteWizard.png" };
       
    //création du jeu 

    public Game game = new Game { Player = PersoTest };

    //modification de la fonction de blazor pour ajouter l'update de l'affichage de la map en fonctiond de l'emplacement du personnage

    protected override void OnInitialized()
    {
        game.GameMap.UpdateMapDisplay(game.Player);

        base.OnInitialized();
    }

    //Fonction de gestion des bouton clavier
    private void HandleKeyDown(KeyboardEventArgs e)
    {

        switch (e.Key)
        {
            case "ArrowLeft":
                game.Player.GoLeft();
                break;
            case "ArrowRight":
                game.Player.GoRight();
                break;
            case "ArrowUp":
                game.Player.GoUp();
                break;
            case "ArrowDown":
                game.Player.GoDown();
                break;
        }
        game.GameMap.UpdateMapDisplay(game.Player);
    }

    

 
    
}