@page "/"
@using LegendOfRico.Data

<PageTitle>The legend of Rico</PageTitle>

<h1>The legend of Rico</h1>

<table border="1" class="Map">
    @for(int i = startI; i < maxI; i++)
    {
        <tr>
            @for (int j = startJ; j < maxJ; j++)
            {
                @if (i == PersoTest.PositionI && j == PersoTest.PositionJ)
                {
                    <td>
                        <div style="background-image: url('@gameMap.MapLayout[i][j].SquareBiome.ImageUrl');">
                            <img src="@PersoTest.MapSprite" alt="Image PersoTest" class="character-image">
                        </div>
                    </td>
                }
                else
                {
                    <td>
                        <div style="background-image: url('@gameMap.MapLayout[i][j].SquareBiome.ImageUrl');"></div>
                    </td>
                }
               
            }
        </tr>
    }
</table>


@code{
    //création d'un personnage test pour la map, création et gestion des personnages encore à définir
    public static Wizard PersoTest = new Wizard {Name = "Destructor", MapSprite = "img/character/test.jpg" };
    //création des variables d'affichage de map
    private int startI;
    private int maxI;
    private int startJ;
    private int maxJ;

    protected override void OnInitialized()
    {
        UpdateMapDisplay();

        base.OnInitialized();
    }

    private void UpdateMapDisplay()
    {
        startI = PersoTest.PositionI - 4;
        maxI = PersoTest.PositionI + 5;
        startJ = PersoTest.PositionJ - 4;
        maxJ = PersoTest.PositionJ + 5;
    }

    //Problème lié à cette fonction qui ne reconnait pas les touches du clavier apparement
    private void HandleKeyDown(KeyboardEventArgs e)
    {
        Console.WriteLine($"Key pressed: {e.Key}");
        switch (e.Key)
        {
            case "ArrowLeft":
                PersoTest.GoLeft();
                break;
            case "ArrowRight":
                PersoTest.GoRight();
                break;
            case "ArrowUp":
                PersoTest.GoUp();
                break;
            case "ArrowDown":
                PersoTest.GoDown();
                break;
        }
        UpdateMapDisplay();
    }

    //création des monstres
    public static Undead skeleton = new Undead{Name = "Skeleton" };


    // création des pool de monstres
    public static Undead[] poolOfGraveyardTest = { skeleton, skeleton };


    //création des différents Biomes

    public static Biomes forest = new Biomes { BiomeType = TypeOfBiome.Forest, MonsterPool = poolOfGraveyardTest, ImageUrl = "img/biomes/foret.jpg" };
    public static Biomes desert = new Biomes { BiomeType = TypeOfBiome.Desert, MonsterPool = poolOfGraveyardTest, ImageUrl = "img/biomes/desert.jpg" };
    public static Biomes village = new Biomes { BiomeType = TypeOfBiome.Village, MonsterPool = poolOfGraveyardTest, ImageUrl = "img/biomes/village.jpg" };
    public static Biomes ruinedVillage = new Biomes { BiomeType = TypeOfBiome.AbandonedVillage, MonsterPool = poolOfGraveyardTest, ImageUrl = "img/biomes/ruine.jpg" };
    public static Biomes graveyard = new Biomes { BiomeType = TypeOfBiome.Graveyard, MonsterPool = poolOfGraveyardTest, ImageUrl = "img/biomes/cimetiere.jpg" };

    //création des squares

    public static Square classicForet = new Square { SquareBiome = forest, ChanceToTriggerFight = 0.0, HasNPC = false, HasQuestTarget = false };
    public static Square classicDesert = new Square { SquareBiome = desert, ChanceToTriggerFight = 0.0, HasNPC = false, HasQuestTarget = false };
    public static Square classicVillage = new Square { SquareBiome = village, ChanceToTriggerFight = 0.0, HasNPC = false, HasQuestTarget = false };
    public static Square classicRuined = new Square { SquareBiome = ruinedVillage, ChanceToTriggerFight = 0.0, HasNPC = false, HasQuestTarget = false };
    public static Square classicGraveyard = new Square { SquareBiome = graveyard, ChanceToTriggerFight = 0.0, HasNPC = false, HasQuestTarget = false };

    //création de la map

    public Map gameMap = new Map { MapLevel = 1, MapLayout = CreateMapLayout() };

    //assignation des Squares

    private static Square[][] CreateMapLayout()
    {

        Square[][] mapLayout = new Square[20][];

        for (int i = 0; i < 20; i++)
        {
            mapLayout[i] = new Square[] { classicGraveyard, classicGraveyard, classicVillage, classicRuined, classicRuined, classicGraveyard, classicForet, classicForet, classicForet, classicGraveyard, classicGraveyard, classicGraveyard, classicVillage, classicRuined, classicRuined, classicGraveyard, classicForet, classicForet, classicForet, classicGraveyard };
        }
        //, classicGraveyard, classicGraveyard, classicVillage, classicRuined, classicRuined, classicGraveyard, classicForet, classicForet, classicForet, classicGraveyard
        return mapLayout;
       
    }
    
}