@page "/"
@using LegendOfRico.Data
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime



<PageTitle>The legend of Rico</PageTitle>
<h1 class="gameTitle">The legend of Rico</h1>
@if (Game.FormShow == TypeOfShow.Connection)
{
    <Connection Game="Game" TypeOfShowChange="StateHasChanged"/>
} 
else if (Game.FormShow == TypeOfShow.Map)
{
    <Map Game="Game" TypeOfShowChange="StateHasChanged"/>
}
else if (Game.FormShow == TypeOfShow.Fight)
{
    <Fight Game="Game" TypeOfShowChange="StateHasChanged"/>
}

@code{
    private CharacterModel characterModel = new CharacterModel();
    //creation du jeu
    public Game Game = new Game { };


          
    //modification de la fonction de blazor pour ajouter l'update de l'affichage de la map en fonctiond de l'emplacement du personnage

    protected override void OnInitialized()
    {
        Game.GameMap.UpdateMapDisplay(Game.Player);

        base.OnInitialized();
    }

  

    
}