@using LegendOfRico.Data
@using BootstrapBlazor

<!--Affichage de la taverne pour recruter un allié-->
<div class="displayGame">
    <!--Affichage du menu de gauche-->
    <GameMenu Game="Game" TypeOfShowChange="TypeOfShowChange" />
    <div class="TavernLayout">
        <div class="TavernDisplay">
            <!--Image de la taverne-->
            <div class="TavernImage">
                <p class="TavernSpeak">Vous vous sentez seul, vous trouverez peut-être de la compagnie dans cette taverne.</p>
            </div>
            <!--Liste des personnages recrutables-->
            <div class="TavernShowcase">
                @if (Game.Player.PartyMember != null)
                {
                    <div class="TavernMatesButton"><button @onclick="Solo">Virer @Game.Player.PartyMember.Name</button></div>
                }
                @foreach(var mates in Game.Tavernist.CharactersToRecruit)
                {
                    <div class="TavernMates" data-toggle="tooltip" data-placement="top" title="@mates.GetTypeDisplay()">
                        
                            <div class="name">@mates.Name</div> 
                            <div class="price">@mates.RecruitingPrice</div> 
                        @if(Game.Player.Coins >= mates.RecruitingPrice)
                        {
                            <div class="button"><button @onclick="() => Recrut(mates)">Recruter</button></div>
                        }
                       
                     </div>
                }
            </div>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public Game Game { get; set; }
    [Parameter]
    public EventCallback TypeOfShowChange { get; set; }

    void Recrut (Character player)
    {
        Game.Recrut(player);
        TypeOfShowChange.InvokeAsync();    
    }

    void Solo ()
    {
        Game.Solo();
        TypeOfShowChange.InvokeAsync();
    }
}
